.Footer{
    width: 100vw;
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--footer-color);
    color: black;

    margin-top: 5vh;
}

.Footer .infos{
    display: flex;
    justify-content: space-evenly;
}

.Footer .infos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 45%;
}

.Footer ul{
    list-style: none;
}

.Footer a{
    color: black;
    text-decoration: none;
}

.Footer .credits{
    font-size: small;
    margin-left: 2vw;
}