.Navbar{
    width: 100vw;
    height: 10vh;

    background: var(--header-color);

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;

    padding-left: 4vw;
    padding-right: 3vw;

    z-index: 1000;

    min-height: 10vh;
}

.Navbar .menu{
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1.5rem;
}

.Navbar.open img{
    width: 10vh;
    height: 10vh;
}

.Navbar ul{
    list-style: none;
}

.Navbar li a {
    display: inline-block;

    color: black;
    text-decoration: none;

    width: 100%;
    height: 100%;
}

.open_menu{
    display: none;
}

li, span, .icon{
    color: black;
    cursor: pointer;
}

@media screen and (min-width: 768px){

    .drop{
        position: relative;
        display: inline-block;
    }
    
    .drop:hover .drop_content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .drop_content{
        min-width: 15vw;
        height: 30vh !important;
        right: 0;
        padding-top: 5vh;
    
        display: none;
        position: absolute;
        background: var(--header-color);

        z-index: 20;
    }

    .drop_content li{
        width: 100%;
        height: 100%;
        text-align: right;
        padding-right: 1vw;
    }
    
    .drop_content li a {
        display: flex;
        align-items: center;
        justify-content: flex-end;    
    }

    .drop_content li:hover{
        background: rgba(0, 0, 0, 0.233);
    }
}

@media screen and (max-width: 767px){
    
    .Navbar.open{
        height: 100vh;

        position: absolute;
        z-index: 999999;
    }
    
    
    .Navbar .menu{
        display: none;
    }

    .Navbar .menu.open{
        width: 100vw;
        height: 100vh;
        margin-top: 5vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: 2vh;

        margin-left: -5vh;
    }

    .Navbar .menu.open li{
        width: 100vw;
        padding: 1.2vh;
    }

    .Navbar.open .drop span{
        display: none;
    }

    .Navbar.open .drop_content{
        width: 100%;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 3vh;
    }

    .open_menu{
        width: 100%;

        height: 10vh;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: right;

        font-size: xx-large;

        background: transparent;
        border: 0;

        position: absolute;
        right: 2vh;
    }

    .selected_tab{
        margin-right: 2vw;
    }

}