.Apoie{
    height: 100vh;
}

.page_content{
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ApoieContent .img{
    display: flex;
    justify-content: center;
}

.ApoieContent .p1{
    font-size: 36px; 
    text-align: center;
}

.ApoieContent .p2{
    font-size: 30px; 
    text-align: center;
}

Footer{
    position: absolute;
    bottom: 0;
}