.ApoieContent .word{
    color: white;
    margin-left: 40px;
    padding: 50px;
}
.ApoieContent .img{
    display: flex;
    justify-content: center;
}

.ApoieContent .conteudo p{
    margin: 3vh;
}

.ApoieContent .conteudo a{
    text-decoration: none;
    font-weight: 700;
}
.ApoieContent .but-a{
    color: #69A625;
}
.ApoieContent .but-a:hover{
    transition-duration: 0.3s;
    color:#294805;
}

.ApoieContent .but {
    background-color: #69A625;
    border-radius: 1vh;
    color: white;
    padding: 0.4vh;
}
.ApoieContent .but:hover{
    transition-duration: 0.3s;
    color:#294805;
}