.ColetivoContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ColetivoContent .conteudo{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    gap: 50px;
}
.ColetivoContent .titulos{
    text-align: center;
    margin: 30px;
}
.ColetivoContent .principal{
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.ColetivoContent .imagem-1{
    border-radius: 40px;
    height: 200px;
    width: 230px;
}
.ColetivoContent .conteudo_texto{
    width: 70vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    min-height: 150px;
    max-width: 1000px;
    
}
.ColetivoContent .sub_titulos{
    margin-top: 20px;
    margin-bottom: 20px;
}