.Home{
    width: 100vw;
    height: 100vh;
}

.Home .banner{
    width: 100vw;
    height: 40vh;

    background: url("../../images/home/banner.png");
    background-size: 100vw 40vh;

    position: relative;
    z-index: 0;
}

.Home .petition{
    position: absolute;
    bottom: 3vh;
    right: 5vw;

    width: 15vw;
    height: 7vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--theme-color4);
    color: aliceblue;

    border-radius: 10px;

    transition: all .7s ease-in-out;
}

.Home .petition:hover{
    transform: scale(1.1);
    background: #205b7e;
}

.Home .pubarea{
    width: 100%;
    height: 40vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.Home .pubarea > div{
    width: 45vw;
    height: 25vh;

    border: 2px solid var(--theme-color4);
    border-radius: 10px;

    padding: 2vh;
}

.Home .pubarea > div .pub_content_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home .social_politics h2{
    text-align: right;
}

.Home .social_politics .pub_content_area{
    flex-direction: row-reverse;
}

.Home .pub_text{
    width: 70%;
}

.Home .sustentability .pub_text{
    text-align: right;
}

.Home .pub_image_area{
    width: 15vh;
    height: 20vh;
}

.Home .pub_image_area a{
    font-size: xx-small;
    color: black;
}

.Home .pubarea img{
    width: 14vh;
    height: 14vh;
}

.Home .social_politics a{
    text-align: right;
}

@media screen and (max-width: 767px) {
    .Home .banner{
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .Home .petition{

        position: initial;
        width: 60vw;
        margin-bottom: 2vh;

        font-size: 2rem;
    }

    .Home .pubarea{
        height: 60vh;
    }

    .Home .pubarea > div{
        width: 90vw;
    }

    .Home .pub_text{
        font-size: .8rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .Home .pub_text{
        font-size: .8rem;
    }
}