.LojaContent .word{
    background-color: var(--theme-color1);
    color: white;
    padding-left: 2vw;
    padding: 3vw;
    width: 100vw;
}
.LojaContent a{
    text-decoration: none;
    color: black;
}
.LojaContent li{
    margin-top: 18px;
}

.LojaContent .produtos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.LojaContent .body-prod{
    overflow: auto;
    display: flex;
}
.LojaContent .categorias{
    font-size: 20px;
    padding: 1vh;
    border-right: 1px black solid;

    width: 45vw;
}
.LojaContent .prod{
    margin: 3vh;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 1vh;
    transition: box-shadow 0.4s;
    text-align: center;
    width: 20vw;
}
.LojaContent .prod:hover {
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
  }
.LojaContent .but-comprar{
    color:white;
    background-color:#EA8356;
    border-radius: 5px;
    margin-bottom: 1vh;
    font-size: 1.8vh;
    padding: 1vh;
    border: 0;
    cursor: pointer;
}
.LojaContent .price,.LojaContent .desc{
    padding: 1vh;
}
.LojaContent .price{
    font-size: 2.5vh;
    /* Color para escolher */
    /* color: black;  */ 
    /* color: #EA8356; */
}
.LojaContent .desc{
    font-size: 2vh;
}

.LojaContent svg{
    fill: #fff
}

.LojaContent .list{
    list-style: none;
}

.LojaContent img{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .LojaContent .produtos {
        display: block;
        width: auto;
    }

    .LojaContent .body-prod{
        flex-direction: column;
    }
  }