.NoticiasContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-top: 2vh;
}
.NoticiasContent .card-noticias{
    box-shadow: 3px 3px 10px #333;
    border-radius: 15px;
    text-align: center;
    min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.NoticiasContent .foto-1{
    background-image: url("../../images/noticias/noticias_2.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.NoticiasContent .foto-2{
    background-image: url("../../images/noticias/noticias_1.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.NoticiasContent .foto-3{
    background-image: url("../../images/noticias/noticias_3.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.NoticiasContent .foto-4{
    background-image: url("../../images/noticias/lixo1.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.NoticiasContent .foto-5{
    background-image: url("../../images/noticias/noticia_4.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.NoticiasContent .foto-6{
    background-image: url("../../images/noticias/noticia_5.png");
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.NoticiasContent .noticia-1{
    padding-top: 50%;
}
.NoticiasContent .noticia-2{
    padding-top: 50%;
}
.NoticiasContent .noticia-3{
    padding-top: 50%;
}
.NoticiasContent .texto{
    margin: 10px;
}
.NoticiasContent .btn a{
    text-decoration: none;
    background-color: rgb(112, 112, 235);
    padding: 1em;
    border-radius: 15px;
    color: white;

}
.NoticiasContent .btn{
    margin-bottom: 10%;
}
