*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar{
    width: 100vw;
    height: 10vh;

    background: rgba(114, 114, 114, 0.9);
}

.menu{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;

    list-style: none;
}

.menu li{
    width: 15vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: x-large;
}

.menu li:hover{
    background: rgba(139, 139, 139, 0.8);
    cursor: pointer;
}